body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(130deg, rgba(2, 0, 36, 1) 10%, rgba(75, 73, 220, 1) 80%, rgba(75, 73, 220, 1) 100%);
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    border-left: 8.5px solid;
    background: white;
}